header, #efs-timer {
  background-image: url('../Images/efs-banner.jpg');
}

/* EFS TIMER START BUTTON */
#start-btn:hover {
  background-color: rgb(98, 18, 156)
}
#start-btn:active {
  background-color: rgba(98, 18, 156, .75);
}