.header {
  background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("../img/homepage-banner.jpg");
  border-bottom: 0.125rem solid var(--color-black);
}

.timer-section {
  display: grid;
  gap: 2.5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 2.5rem 5rem;

  &:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--color-white);
  }
}

.timer-section__image {
  height: 18.75rem;
  width: 100%;
  border: 0.125rem solid transparent;
  border-radius: 12.5rem;
  justify-content: center;

  &:hover {
    border-color: var(--color-white);
    box-shadow: 0 0.125rem 0.25rem 0.25rem var(--color-footer-hover);
  }
}

.timer-section__text-container {
  width: 100%;
}

.timer-section__title {
  text-align: center;
  margin-bottom: 1rem;
}

#faq-section {
  flex-direction: column;
  align-items: center;
  padding: 1.25rem 1.25rem 3.75rem 1.25rem;
  background-color: var(--color-black);
  color: var(--color-white);
}
#faq-questions {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 800px;
}
.question {
  text-align: left;
  padding: 20px;
  list-style-type: none;
  border-radius: 16px 0 0 16px;
}
.question:hover {
  background-color: white;
  color: black;
}
.question-text {
  cursor: pointer;
  display: inline-block;
}
.answer {
  display: none;
  padding: 20px;
  border-radius: 0 16px 16px 0;
}

/*
@media screen and (max-width: 800px) {
  #welcome-section {
    padding: 20px 40px;
  }
  #welcome-section:hover {
    padding: 40px 20px 20px 20px;
  }

  #efs-section,
  #pomodoro-section {
    flex-direction: column;
  }
  #efs-text,
  #pomodoro-text {
    width: 80%;
    padding: 0 60px;
  }
  #pomodoro-img,
  #efs-img {
    width: 300px;
  }
  #pomodoro-img:hover,
  #efs-img:hover {
    width: 300px;
  }
  #pomodoro-img {
    margin-left: 0;
  }
  #efs-img {
    margin-right: 0;
  }
  #pomodoro-title {
    margin-top: 40px;
  }
  #efs-title {

