main {
    padding: 40px;
}

section {
    display: flex;
    flex-direction: column;
}

.section-head {
    display: flex;
    align-items: flex-end;
    margin: 20px 0;
  }
  
  h2 {
    margin: 0;
  }
  
  .add, .visibility {
    margin-left: 10px;
    color: darkblue;
  }
  
  .add:hover, .visibility:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .list-items {
    border: 2px solid rgb(112, 112, 112);
    border-radius: 5px;
    padding: 10px;
    max-width: 500px;
    width: 100%;
  }
  .placeholder-item {
    color: rgb(112, 112, 112);
  }